/*  woff font format */
@font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebregularfanum.woff') format('woff');
    font-weight: 500;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebthinfanum.woff') format('woff');
    font-weight: 100;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebmediumfanum.woff') format('woff');
    font-weight: 700;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanweblightfanum.woff') format('woff');
    font-weight: 300;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebboldfanum.woff') format('woff');
    font-weight: bold;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebblackfanum.woff') format('woff');
    font-weight: bolder;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebextrablackfanum.woff') format('woff');
    font-weight: 900;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/woff/iranyekanwebextraboldfanum.woff') format('woff');
    font-weight: 800;
  }
  

  /*  ttf font format */

  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebregularfanum.ttf') format('ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebthinfanum.ttf') format('ttf');
    font-weight: 100;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebmediumfanum.ttf') format('ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanweblightfanum.ttf') format('ttf');
    font-weight: 300;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebboldfanum.ttf') format('ttf');
    font-weight: bold;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebblackfanum.ttf') format('ttf');
    font-weight: bolder;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebextrablackfanum.ttf') format('ttf');
    font-weight: 900;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/ttf/iranyekanwebextraboldfanum.ttf') format('ttf');
    font-weight: 800;
  }


/*  eot font format */


  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebregularfanum.eot') format('eot');
    font-weight: 500;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebthinfanum.eot') format('eot');
    font-weight: 100;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebmediumfanum.eot') format('eot');
    font-weight: 700;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanweblightfanum.eot') format('eot');
    font-weight: 300;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebboldfanum.eot') format('eot');
    font-weight: bold;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebblackfanum.eot') format('eot');
    font-weight: bolder;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebextrablackfanum.eot') format('eot');
    font-weight: 900;
  }
  @font-face {
    font-family: myFirstFont;
    src: url('../fonts/yekan/eot/iranyekanwebextraboldfanum.eot') format('eot');
    font-weight: 800;
  }
  :root {
    --main-color: #17cd6d;
    --text-color: #526772;
    --secondery-color : #7ca1aa;
    --menu-color:#768aad;
    --border-raduis:17px;
    --border-color:#d1d7e7;
    --shadow-color-a: #17cd6d1f;
    --shadow-color-b: #5d80b51a;
    --shadow-color-c: #7b83a314;
    --body-color: #f0f2f5;
    --box-color: #ffffff;
    --menu-mobile-color: #ffffffdb;
  }

  input#submit {
    background: var(--main-color );
    border: navajowhite;
    color: white;
    padding: 10px;
    border-radius: 14px;
}
*{
    font-family: myFirstFont !important;
    direction: rtl;
    font-weight: 500;
    color: var(--text-color);
    font-size: 14px;
    box-sizing: border-box;
}
main{
  padding-top: 95px;
  min-height: 85vh !important;
}
hr{
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--menu-color);
  transition: .3s;
}
b{
  color: var(--main-color);
}
a:hover {
  color: var(--main-color);
}
h1,h2,h3,h4,h5,h6{
  color: var(--main-color);
  font-weight: 900;
  margin-bottom: 20px;
}
body{
  background-color: #F0F2F5;
}

button {
  background: var(--main-color);
  padding: 8px 22px;
  margin-top: 10px;
  border: 1px solid var(--main-color);
  color: white;
  border-radius: var(--border-raduis);
  box-shadow: 0px 16px 30px 0px #17cd6d94;
  transition: .3s all ease;
  font-weight: 700;
}

button:hover {
  background: #f0f8ff00;
  color: var(--main-color);
}
button#secondary-btn {
  background: white;
  color: var(--secondery-color);
  border-color: var(--secondery-color);
  box-shadow: 0px 16px 30px 0px #7ca1aa91;
  padding: 8px 22px;
}

button#secondary-btn:hover {
  background: var(--secondery-color);
  color: white;
}






/* header css */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 10px;
  z-index: 1;
}
div#header-content{
  background: rgba(255, 255, 255, 0.521);
  margin: 0px auto;
  backdrop-filter: blur(17px);
  display: flex;
  width: 90%;
  padding: 13px;
  z-index: 3;
  border-radius: 15px;
  box-shadow: 0 10px 9px var(--shadow-color-c);
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);

}



div#header-doted span{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border-radius: 100px;
}
span#header-doted-red {
  background-color: #d33753;
}

span#header-doted-yellow {
  background-color: #e7ce1c;
}

span#header-doted-green {
  background-color: #17cd6d;
}




#header-menu > ul > li a{
  display: flex;
  align-items: center;
}
#header-menu > ul > li a::before{
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: var(--menu-color);
  transition: 0.3s;
  opacity: 0.2;
  border-radius: 4px;
  margin-left: 5px;
  box-shadow: 0 0 0 transparent;
}
#header-menu > ul > li a:hover::before{
  background: var(--main-color) !important;
  opacity: 1 !important;
}

div#header-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
}
div#header-menu ul li{
  padding-left: 21px;
  margin: 0 11px;
}
div#header-menu ul li:not(:last-child){
  border-left: 1px solid var(--menu-color);
}
.current-menu-item > a {
  color: var(--main-color) !important;
}

/* sub menu */
li.menu-item:hover > ul {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  flex-direction: column !important;
  
}

li.menu-item {
  position: relative;
  padding: 10px 0;

}
ul.sub-menu > li{
  padding: 10px !important;
  border-left: none !important;

}
li.menu-item a::before{
  display: none !important;
}
 ul.menu >li >ul {
  position: absolute;
  top:auto;
  left:auto;
  right: -40px !important;
}

li.menu-item ul {
  background: var(--box-color) !important;
  border-radius: 14px !important;  position:absolute;
  top:0;
  right:100%;
  display: none !important;
  margin: 0;
  padding: 0;
  width: 150px !important;

}


div#header-login-btn > a {
    background: var(--main-color) !important;
    color: white !important;
    padding: 10px;
    border-radius: 14px;
}

div#header-login-btn> a:hover {
    background: white !important;
    color: var(--main-color) !important;
}

#header-login-btn:hover > nav.woocommerce-MyAccount-navigation{
  display: block !important;
}

div#header-login-btn nav {
  position: absolute;
    top: 30px;
    width: 100%;
    display: none;
    z-index: 1000;
}

div#header-login-btn {
    position: relative;
}
 
/* header menu*/
header#mobile-header {
  position: fixed;
  bottom: 0;
  top: 88%;
  z-index: 20;
}

div#mobile-header-main {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.521);
  margin: 0px auto;
  backdrop-filter: blur(17px);
  box-shadow: 0 10px 9px var(--shadow-color-c);
  border: 1px solid var(--border-color);
}

.mobile-header-item a {
  display: flex;
  flex-direction: column;
  align-items: center;

}
div#mobile-nav-menu {
  position: fixed;
  background: white;
  width: 100%;
  margin: 0 auto !important;
  z-index: 100;
  top: 0;
  display: none;
}
div#mobile-nav-menu ul li.menu-item ul {
  position: static !important;
}

div#mobile-nav-menu ul {
  list-style: none;
}
div#mobile-nav-menu ul li ul {
  background: #8080801f !important;
}
div#mobile-nav-menu ul li li.menu-item {text-align: center;}



/* footer css */
footer{
  background-color: white;
  padding: 0 10px 10px 10px;
  box-shadow: 0 -2px 33px var(--shadow-color-b);
  z-index: 15;
  position: relative;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
footer::before{
  content: "";
  width: 70%;
  height: 8px;
  display: block;
  transform: translate(0,-8px);
  position: absolute;
  border-radius: 10px 0 0 0;
  right: 0;
  background-color: var(--main-color);
}

/*breadcrump*/
nav[aria-label="breadcrumb"]{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px !important;
  padding-top: 30px !important;
}
.btn-previous-page {
  background-color: var(--tp-box-color);
  border: 1px solid var(--tp-border-color);
  padding: 10px;
  border-radius: 10px;
}


/* post cart style*/
.last-blog-cart-content{
  background-color: white;
  padding: 8px;
  padding-bottom: 4px;
  box-shadow: 0 2px 33px var(--shadow-color-b);
  border-radius: 22px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  transition: .3s;
}
.last-blog-cart-content:hover{
  transform: scale(1.02);
}
.last-blog-cart-img img{
  max-width: 100%;
  height: 183px;
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 22px;
}
.last-blog-cart-title{
  color: var(--text-color);
  margin: 11px 0;
  display: block;
  width: 100%;
  font-size: 18px;
}
.last-blog-cart-info{
  display: flex;
  padding: 5px 2px;
  align-items: center;
  justify-content: space-between;
}
.last-blog-cart-info span{
  color: #919ca9;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.last-blog-cart-info span svg path{
  margin-left: 5px;
  stroke: #919ca9;
}
.last-blog-cart-btn{
  color: var(--text-color);
  display: block;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  padding: 9px;
  margin: 4px 0;

}







/*some style for archive page*/




ul.products li {
  background-color: var(--box-color) !important;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 10px !important;
  height: 100% !important; 
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  border-radius: 10px !important;
  width: 100%;
  height: 233px !important;
  object-fit: cover;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  max-height: 170px !important;
}

img.woocommerce-placeholder.wp-post-image {
  max-height: 170px !important;

}

li.product {
  height: 318px !important;
}
h2.woocommerce-loop-product__title {
  font-size: 1.7rem !important;

}


span.price bdi {
  font-weight: 800;
  margin-right: 5px;
  margin-left: 0px;
}

ins bdi, ins span {
  font-size: 1.2rem;
  margin: 3px;
  text-decoration: none !important;
  color: var(--main-color);
  
}

span.price {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  text-align: center !important;
  display: block !important;
  background: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: 14px;
  
}

span.onsale {
  background: var(--main-color) !important;
}
select.orderby {
  padding: 7px 0px;
  border-radius: 10px;
  border-color: var(--border-color);
}

.woocommerce.columns-4 {
  display: block;
}
/* cart styles */
.woocommerce.wp-block-group.alignwide {
  display: block;
}

tr.woocommerce-cart-form__cart-item.cart_item img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  width: 90px;
  height: 50px !important;
}

.wc-proceed-to-checkout a {
  color: var(--box-color);
  background: var(--main-color);
  color: var(--box-color) !important;
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  width: 100% !important;
  max-width: 100% !important;
  display: block;
}

input#coupon_code {
  padding: 5px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

/* checkout styles*/
input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

div#customer_details {
  display: flex;
  flex-direction: column;
}

div#customer_details div {width: 100%;}

form.checkout.woocommerce-checkout {
  display: flex;
  gap: 30px;
}

h3#order_review_heading {
  display: none;
}

span.select2-selection.select2-selection--single {
  border-radius: 10px !important;
  height: 40px;
  padding: 3px;
}

textarea#order_comments {
  padding: 10px;
  min-height: 130px;
  border-radius: 10px;
  border-color: var(--border-color);
}

.woocommerce-info {
  border-top-color: var(--main-color);
}

.woocommerce-info::before {
  color: var(--main-color);
}

button#place_order {
  display: block !important;
  width: 100%;
  
}

/* style of cart button*/
.cart-icon-btn {
  width: 90%;
  margin: AUTO;
  margin-top: 21px;
  display: flex;
}

.cart-icon-btn a {
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
  backdrop-filter: blur(17px);
  transition: 0.3s;
  box-shadow: 0 10px 9px var(--shadow-color-c);
  border: 1px solid var(--border-color);
  min-width: 40px;
  color: var(--color-text);
  position: relative;
}
  
span#cart-count-icon {
  position: absolute;
  top: -7px;
  right: -10px;
  background: var(--main-color);
  color: white;
  width: 20px;
  text-align: center;
border-radius: 10px;
}
  

/* style for my account page*/

.woocommerce {
  display: flex;
}

nav.woocommerce-MyAccount-navigation {
  min-width: 30%;
  background: var(--main-color);
  border-radius: 10px;
  overflow: hidden;
}

nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}

nav.woocommerce-MyAccount-navigation ul li a {
  text-align: center;
  padding: 11px;
  display: block;
  color: white;
}

nav.woocommerce-MyAccount-navigation ul li a:hover {background: white;color: var(--main-color);}

.woocommerce-MyAccount-content {
  padding: 0 10px;
  min-width: 70%;

}
.woocommerce-Address header {
  position: static;
}
  
div#errors {
  display: none;
    position: fixed;
    top: 90px;
    right: 0;
}

div#login-main-content-left {
    position: relative;
}
div#login-main-content-right {
  position: relative;
}
div#form-loader {
  position: absolute;
  width: 100% !important;
  backdrop-filter: blur(7px);
  right: 0;
  top: 0;
  height: 100%;
  display: flex
;
  align-items: center;
  justify-content: center;
  background: none !important;
}