@import url(./main-css.css);




/* build header of blog*/
.blog-content-header-img{
    width: 100%;
    height: 49vh;
    text-align: center;
}
.blog-content-header-img img{
    width: 100%;
    border-radius: 16px;
    height: 100%;
    object-fit: cover;
}
.blog-content-header-info{
    width: 90%;
    background: #ffffffdb;
    border-radius: 22px;
    display: flex;
    padding: 25px;
    transform: translate(0,-61px);
    box-shadow: 0 10px 30px var(--shadow-color-c);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    backdrop-filter: blur(10px);
    margin: auto;
}
.blog-content-header-info h4{
    color: var(--text-color);
}

.blog-content-header-info-deatlis ul li svg{
    width: 21px;
    height: 21px;
}
.blog-content-header-info-deatlis{

    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.blog-content-header-info-deatlis ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.copy-link-head-det-blog{
    padding: 5px;
    font-size: 14px;
    background: var(--box-color);
    transition: 0.3s;
    border-radius: 9px;
    border: 1px solid var(--border-color);
    box-shadow: 0 10px 30px var(--shadow-color-b);
    color: var(--color-text);
}
.copy-link-head-det-blog:hover {
    background: var(--main-color);
    color: var(--body-color);
    border-color: var(--main-color);
}
.copy-link-head-det-blog:hover svg path{
    fill: var(--body-color) !important;
    stroke: var(--body-color) !important;

}

/* build main text*/
.text-blog-content p {
    font-weight: bold;
    line-height: 2rem;
}

/*comment style*/
.comment-respond {
    width: 100%;
    margin-top: 70px;
}
.comment-reply-title {
    color: #3a4d64;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 16px 0;
}
.comment-form {
    background: var(--box-color);
    padding: 15px;
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}
.comment-notes {
    font-size: 13px !important;
    opacity: 0.5;
}
.comment-form-comment {
    display: flex;
    flex-direction: column;
}
.comment-form-comment #comment {
    background: var(--body-color);
    border: 1px solid var(--shadow-color-b);
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
    width: 100%;
    color: var(--color-text);
    margin: 11px auto;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    text-align: center;
    width: 45%;
    display: inline-flex;
    align-items: center;
    margin: 11px;
    color: #5a728f;
}
.comment-form-url input, .comment-form-email input, .comment-form-author input {
    background-color: var(--body-color);
    border: 1px solid var(--shadow-color-b);
    padding: 6px 9px;
    border-radius: 5px;
    margin-right: 9px;
    max-width: 100%;
    width: 100%;
    color: var(--color-text);
    transition: 0.3s;
}

.comment-form-cookies-consent {
    color: var(--color-text);
}
.comment-form-url label, .comment-form-email label, .comment-form-author label {
    display: flex;
}

ol.commentlist {
    list-style: none;
}

ol.commentlist li {
    background: white;
    padding: 15px;
    border-radius: 15px;
}

.text-blog-content-comment {
    margin-top: 70px;
}


/* like btn*/

a#like-button.is_active svg {
    fill: #526772 !important;
}